</div>
</div>
<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>Copyright 2020 Made by Anushree Deshpande.</p>
            
        </div>
       
        <div class="clear"></div>
    </div>
</footer>
        
</body>
</html>