<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Banking System</title>
 
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
 
<body>

    <header>
    <div class="wrapper">
       <h1>SimplyCredit.<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/viewcustomers">View Customers</a></li>
          
            </ul>
        </nav>
    </div>
</header>
      
   <div id="background-image">
    <div class="wrapper">